{{ form_start(form) }}

<h2 style="padding-left:30px;padding-top:10px;">Creer son cours</h2>

  <div class="form-group" style="padding-left:30px;padding-top:30px;"> 
    <div class="form-group">
      <label for="exampleInputEmail1">Titre</label>

    {{ form_widget(form.title, {'attr': {'style': 'width: 200px'}}) }}

    </div>
       <div class="form-group">
      <label for="exampleSelect2">Selectionner les matières</label>

    {{ form_widget(form.tag,  {'attr': {'style': 'width: 300px'}})  }}

      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Contenu du cours</label>
    {{ form_widget(form.content) }}
    </div>
     </div>

    <button class="btn btn-primary ml-4">{{ button_label|default('Sauvegarder') }}</button>
  </div>

{{ form_end(form) }}

