{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <a href="{{ path('lesson_new') }}">Create new</a>

        {% for lesson in lessons %}
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                {% for tag in lesson.tag %}
                    {{ tag.tagName}} 
                 {% endfor %}
                </div>
                <div class="card-body">
                <h4 class="card-title"> {{ lesson.title }} </h4>
                 <p class="card-text"> {{ lesson.content|raw }}</p>
                 <button type="button" class="btn btn-primary"><a href="{{ path('lesson_show', {'id': lesson.id})  }}">Show</a></button>
                 <button type="button" class="btn btn-secondary"><a href="{{ path('lesson_edit', {'id': lesson.id})  }}">Edit</a></button>
                {{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}
                {{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}
                {{ lesson.user }}
                </div>
            </div>
        {% else %}
                <td colspan="6">no records found</td>
        {% endfor %}

{% endblock %}
