{% extends 'base.html.twig' %}

{% block title %}Les derniers cours partages{% endblock %}

{% block body %}
    <h2 class="pt-4"><center>Les derniers cours partages</center></h2>

   <!-- <a href="{{ path('lesson_new') }}">Creer votre cours</a> -->


        <div class="box pt-4">
        {% for lesson in lessons %}
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                {% for tag in lesson.tag %}
                    <span class="badge badge-pill badge-secondary">{{tag.tagName}}</span>
                {% endfor %}
                </div>
                <div class="card-body">
                <h4 class="card-title"> {{ lesson.title }} </h4>
                 <p class="card-text"> {{ lesson.content|striptags|u.truncate(300, '...') }}</p>
                 <button type="button" class="btn btn-primary"><a class="resetlink" href="{{ path('lesson_show', {'id': lesson.id})  }}">En savoir plus</a></button>
                 {% if app.user == lesson.user %}
                    <button type="button" class="btn btn-secondary"><a class="resetlink" href="{{ path('lesson_edit', {'id': lesson.id})  }}">Modifier</a></button>
                 {% endif %}
                <br> Crée le : {{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}
                <br>Modifié le : {{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}
                <br>Par : {{ lesson.user }}
                </div>
            </div>
        {% else %}
                <td colspan="6">no records found</td>
        {% endfor %}
        </div>

{% endblock %}
