{% extends 'base.html.twig' %}

{% block title %}Mes cours crées{% endblock %}


{% block body %}

        <h2 class="pt-4"><center>Mes cours</center></h2>

        <div class="box pt-4">
        {% for lesson in lessons %}
            <div class="card caard-1 bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    {% for tag in lesson.tag %}
                         <a class="badge badge-pill badge-secondary resetlink" href="{{path("bytag",{name: tag.tagName})}}">{{tag.tagName}}</a>
                    {% endfor %}
                </div>
                <div class="card-body">
                <h4 class="card-title"> {{ lesson.title }} </h4>
                 <p class="card-text"> {{ lesson.content|striptags|u.truncate(300, '...') }}</p>
                 <button type="button" class="btn btn-primary "><a class="resetlink" href="{{ path('lesson_show', {'id': lesson.id})  }}">En savoir plus</a></button>
                 <button type="button" class="btn btn-secondary"><a class="resetlink" href="{{ path('lesson_edit', {'id': lesson.id})  }}">Modifier</a></button>
                <div class="pt-3"> Crée le : {{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i') : '' }}</div>
                <div>Modifié le : {{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i') : '' }}</div>
                <div>Par : {{ lesson.user }}</div>
                </div>
            </div>
        {% else %}
                <div>
                    <div>Aucuns cours</div>
                    <div>Crée ton premier cours <a href="{{path('lesson_new')}}">ici</a></div>
                </div>
        {% endfor %}
        </div>

{% endblock %}
