{% extends 'base.html.twig' %}

{% block title %}Mes lessons{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

        {% for lesson in lessons %}
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                </div>
                <div class="card-body">
                <h4 class="card-title"> {{ lesson.title }} </h4>
                 <p class="card-text"> {{ lesson.content|striptags|u.truncate(300, '...') }}</p>
                 <button type="button" class="btn btn-primary"><a href="{{ path('lesson_show', {'id': lesson.id})  }}">En savoir plus</a></button>
                 <button type="button" class="btn btn-secondary"><a href="{{ path('lesson_edit', {'id': lesson.id})  }}">Modifier</a></button>
                <br> Crée le : {{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}
                <br>Modifié le : {{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}
                <br>Par : {{ lesson.user }}
                </div>
            </div>
        {% else %}
                <td colspan="6">no records found</td>
        {% endfor %}

{% endblock %}
