{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lesson.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>
                {{ lesson.content|raw }}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>


<h3> Commentaires </h3>

     {{ include('comment/_form.html.twig') }}

     <div class="box">
     {% for comment in comments %}
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{comment.title}}</div>
  <div class="card-body">
    <p class="card-text">{{comment.content|striptags}}</p>
  </div>
</div>
     {% endfor  %}
</div>




    <a href="{{ path('lesson_index') }}">back to list</a>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
