{% extends 'base.html.twig' %}

{% block title %}{{lesson.title}}{% endblock %}

{% block body %}


    <div class="container shadow bg-light mt-4 pb-4"> 
    
    <h1 class="pt-3 pb-3"><center>{{ lesson.title }}<center></h1>
    
    {{lesson.content|raw}}

    {% if app.user == lesson.user %}
        <a class="resetlink ml-4 btn btn-success mb-1" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Editer ce cours</a>
        {{ include('lesson/_delete_form.html.twig') }}
    {% endif %}

    <table>
            <tr>
                <th class="pt-2">Cree le : </th>
                <td class="pt-2">{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifie le : </th>
                <td>{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cree par : </th>
                <td>{{ lesson.user }}</td>
            </tr>
    </table>
    </div>

<div class="container mb-4 mt-4">
<div class="card mb-4 mt-4 shadow">
    <div class="row mb-2 mt-4 ml-2 mr-2">
        <div class="col-1"> <img src="https://loocaly.fr/storage/users/default.png" width="70" class="rounded-circle mt-2"> </div>
        <div class="col-10">
            <div class="comment-box ml-2">
                <h4>Ajouter un commentaire</h4>
                <div class="comment-area" rows="4">  
                
     {{ include('comment/_form.html.twig') }}
                </div>
                        <div class="pt-4 border-bottom w-50 mr-5"></div>
            </div>
        </div>
    </div>


<div class="container d-flex  mt-100 mb-100 pt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="card-body">
                    <h4 class="card-title">Commentaire récents</h4>
                    <h6 class="card-subtitle">Section des derniers commentaires des Utilisateurs</h6>
                </div>

               {% for comment in comments %} 
                <div class="comment-widgets m-b-20">
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><span class="round"><img src="https://loocaly.fr/storage/users/default.png" alt="user" width="50"></span></div>
                        <div class="comment-text w-100 pl-2 pt-1">
                            <h5>{{comment.user}}</h5>
                            <div class="comment-footer"> <span class="date">{{comment.createdAt|date("d/n/Y H:i")}}</span> <span class="label label-info"></span> <span class="action-icons"> <a href="#" data-abc="true"></a> <a href="#" data-abc="true"></a> <a href="#" data-abc="true"></a> </span> </div>
                            <p class="m-b-5 m-t-10">{{comment.content|striptags}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
</div>
</div>

</div>
<div class="container">
    <a class="btn btn-primary mb-4" href="{{ path('lesson_index') }}">Retour a la liste</a>
</div>
{% endblock %}
